* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 62rem;
  margin: auto;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  background-color: #122a57;
  height: 6.25rem;
  color: #ffffff;
}

header .list-items {
  display: flex;
  max-width: 16.25rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: #ffffff;
}

header .menu {
  justify-content: space-between;
}

.presentation {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.presentation .text-presentation {
  min-height: 12.5rem;
}

.text-presentation h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: .8rem;
}

.text-presentation a {
  background-color: #122a57;
  text-decoration: none;
  border-radius: 1.8rem;
  color: #ffffff;
  width: 13.75rem;
  display: block;
  text-align: center;
  height: 3.12rem;
  line-height: 3.12rem;
  margin: .8rem 0;
}

#we-are {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#we-are h2 {
  font: 32px;
  color: #122a57;
  display: flex;
  margin-bottom: 1.15rem;
  align-items: center;
}

#we-are h2::before {
  content: "";
  height: 3.12rem;
  width: 0.31rem;
  margin-right: 0.31rem;
  background-color: #122a57;
  position: relative;
}

#we-are p {
  margin-bottom: 0.62rem;
  width: 90%;
}

#we-are img {
  min-width: 26.25rem;
}

.external-container {
  background-color: #122a57;
  width: 100%;
}

#services {
  flex-direction: column;
  padding-top: 3.16rem;
  padding-bottom: 6.25rem;
}

#services h2 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 1.25rem;
}

.list-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-services .service {
  text-align: center;
}

.service a {
  text-decoration: none;
  text-align: center;
  width: 7.5rem;
  background-color: #ffffff;
  border-radius: 3.2rem;
  height: 3.12rem;
  line-height: 3.12rem;
  font-size: 14px;
  padding: .35rem .8rem;
}

.service p {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.service img {
  width: 80%;
  margin: auto;
}